<div class="container">
  <div class="header">
    <div class="m-3" tabindex="0">
      <table style="width:60%">
        <tr>
          <th></th>
          <th></th> 
        </tr>
        <tr>
          <td style="vertical-align:top">            
            <h2>Select Visit</h2>
            <app-visit (visitSelected)="GetSelectedVisit($event)"></app-visit>
          </td>
          <td>
            <div>Name: {{clientDetail.clientDOB}}</div>
            <div>Location: {{clientDetail.location}}</div>
            <div>Admit Date: {{ clientDetail.admitDate | date:'dd-MMM-yyyy' }}</div>
            <div>     
                <label>Simulation Start Time</label>
                <input class="m-2" type="datetime-local" name="registrationdate" [(ngModel)]="currentDateTime">
                <button type="button" class="btn btn-primary m-2" (click)="ResetVisit()">RESET</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="navbar m-3">
    <div>
      <img src="assets/images/logo.png" alt="logo" class="m-1" width="200" height="120">
        <ul class="nav flex-column m-3">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/documents', selectedVisitGuid]" routerLinkActive="active">Documents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/orders" routerLinkActive="active">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/results" routerLinkActive="active">Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/place-holder" routerLinkActive="active">Other</a>
          </li>
        </ul>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>

  </div>
</div>